@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}

* {
  box-sizing: border-box;
  border: 0px solid;
}

.slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
}

.slick-slider .slick-prev,
.slick-slider .slick-next {
  position: absolute;
  top: 50%;
}
.slick-slider .slick-prev {
  left: 19%;
  z-index: 1;
  transform: translateX(-50%);
}
.slick-slider .slick-next {
  right: 19%;
  z-index: 1;
  transform: translateX(50%);
}

.slick-arrow::before {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.62);
}

.slick-slide {
  filter: brightness(0.5);
  transform: scale(0.8);
  transition: all 0.5s;
}

.slick-center {
  filter: brightness(1);
  transform: scale(1);
}
